[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.18.0"
flask = "==2.0.1"
flask-sqlalchemy = "==2.5.1"
flask-migrate = "==2.5.3"
psycopg2-binary = "==2.9.5"
Werkzeug = "==2.0.1"
SQLAlchemy = "==1.4.21"
flasgger = "==0.9.5"
validators = "==0.18.2"

[dev-packages]

[requires]
python_version = "3.9"
