## for DEV
DATABASE_URL='postgresql://postgres:password2023@localhost:5432/spotsdb'
CONFIG_MODE=development


## for pytest
DATABASE_URL=postgresql://postgres:password2023@localhost:5432/bookmarks
CONFIG_MODE=pytest
PYTEST_DATABASE_URL=postgresql://postgres:password2023@localhost:5432/bookmarkstest

postgresql://postgres:postgres@postgres:5432/bookmarksghtest